<a class="logo {{ cssMix }}" href="{{ url }}" {{ current ? 'aria-current="page"' }}>
	<img class="logo__image" src="{{ image }}" alt="{{ title|punctify }}" width="{{ width }}" height="{{ height }}">
</a>
