{% from '../common/macro.twig' import component %}

<div class="persons {{ cssMix }}" style="--top: {{ card.top }}px; --right: -{{ card.right }}px;">
	{{ component(card.heading ? 'persons-listcard' : 'persons-card', card, 'persons__card') }}

	{{ component('picture', picture, 'persons__picture') }}

	{% with circle %}
		<div class="persons__circle" style="--right: -{{ right }}px; --width: {{ width }}px; --height: {{ height }}px;"></div>
	{% endwith %}
</div>
