{% from '../common/macro.twig' import component %}

<section class="slider {{ cssMix }}">
	{{ component('section-header', header, 'slider__header') }}

	<div class="slider__bg-wrapper">
		<div class="slider__body">
			<ul class="slider__list">
				{% for slide in slides %}
					<li class="slider__item">
						{{ component(slot, slide, 'slider__slide') }}
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>

	<button class="slider__control slider__control--prev" type="button" disabled>
		<span class="visually-hidden">{{ Term('SLIDER_PREV')|punctify }}</span>
	</button>
	<button class="slider__control slider__control--next" type="button">
		<span class="visually-hidden">{{ Term('SLIDER_NEXT')|punctify }}</span>
	</button>
</section>
