{% from '../common/macro.twig' import component %}

<section class="slider {{ cssMix }}">
	{{ component('section-header', header, 'slider__header') }}

	<ul class="slider__list">
		<li class="slider__item">
			{% for slide in slides %}
				{{ component(slot, slide, 'slider__slide') }}
			{% endfor %}
		</li>
	</ul>

	<button class="slider__control slider__control--prev" type="button" disabled>
		<span class="visually-hidden">{{ Term('SLIDER_PREV')|punctify }}</span>
	</button>
	<button class="slider__control slider__control--next" type="button">
		<span class="visually-hidden">{{ Term('SLIDER_NEXT')|punctify }}</span>
	</button>
</section>
